@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.main_header{
    background: var(--nav-color);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_header button{
   color: white;
   background: transparent;
   border: none;
   outline: none;
   /* font-size: 20px;   */
   cursor: pointer;

}
.logo-text{
    font-family: 'Rubik Wet Paint', cursive;
    letter-spacing: 1px;
    color: var(--nav-text);
}
.header-navigations{
    display: flex;
}
.header-navigations ul{
    list-style-type: none;
    display: flex;
}
.header-navigations li{
    list-style-type: none;
    margin-left: 10px;
}