@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.main_header{
    background: var(--nav-color);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_header a{
   border: 1px solid white;
   padding: 7px;
   margin-left: 10px;
   border-radius: 2px;
   background-color: rgb(110, 7, 34);
}
.active-link{
    
}
.inactive-link{
    background-color: blue !important;
}
.logo-text{
    font-family: 'Rubik Wet Paint', cursive;
    letter-spacing: 1px;
    color: var(--nav-text);
}
.header-navigations{
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
    place-items: center;
}
.header-navigations ul{
    list-style-type: none;
    display: flex;
}
.header-navigations li{
    list-style-type: none;
    margin-left: 10px;
}