@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Wet+Paint&display=swap');
:root{
    --nav-color:rgb(18, 24, 24);
    --nav-text: #fff;
    --primary-bg: #181818;
    --primary-text: #fff;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(238, 236, 236);
    font-family: 'Inter', sans-serif;
    background: var(--primary-bg);
    /* font-family: 'Rubik Wet Paint', cursive; */
}
a{
    color: white;
    text-decoration: none;
}
.pointer{
    cursor: pointer;
}



.music-player{
    position:fixed;
    bottom:0;
    
}

.f,.flex{
    display: flex;
}
.jcc{
    justify-content: center;
}
.jcb{
    justify-content: space-between;
}

.mt2{
    margin-top: 2px;
}
.mt4{
    margin-top: 4px;
}
.mt5{
    margin-top: 5px;
}
.mt7{
    margin-top: 7px;
}
.mt10{
    margin-top: 10px;
}